@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
html,
#root,
body,
.app {
  font-family: "DM sans", sans-serif;
  @apply text-gray-500;
}
.navbar-background {
  background-color: transparent;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}
.navbar-background.scrolled {
  background-color: #ffe1e0;
}
